:root {
	--primary-color: #6C63FF;
	--white-color: #FFFFFF;
	--gap:  3rem;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	color: var(--primary-color);
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 6rem;
	text-transform: uppercase;
}

h2 {
	font-size: 5.5rem;
}

h3 {
	font-size: 5rem;
}

h4 {
	font-size: 4.5rem;
}

h5 {
	font-size: 4rem;
}

h6 {
	font-size: 3.5rem;
}

.main-bg {
	background-size: cover;
	background-position: center center;
}

.white-bg {
	background: var(--white-color);
}

.main-content {
	max-width: 1200px;
	margin: 0 auto;
	padding: var(--gap);
}

.section {
	min-height: 100vh;
}

.intro-content{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: stretch;
	gap:  var(--gap);
	height: 100vh;
}

.intro-text-content, .intro-img{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.intro-text-content h2{
	font-size: 8rem;
	margin-bottom: 5rem;
}

.contact-form {
	grid-column: span 2;
}

.contact-form fieldset{
	border: none;
}